#mainLessonPageFrame {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 1rem;
    /* margin-right: 4rem; */
    /* margin-left: 2rem; */
    padding-bottom: 2.5rem;
    background-color: transparent;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
    display: flex;
    min-height: 84vh;

}

#breadCrumbMain {
    --bs-breadcrumb-divider: '>';
    /* --bs-breadcrumb-divider-color:"white"; */
}

#breadCrumbLink {
    text-decoration: none;
    color: white;
    transition: 0.3s;
    opacity: 0.8;
}

#breadCrumbLink:hover {
    opacity: 1.0;
}

#lessonHeadingFrame {
    /* background-color: red; */
    width: 100%;

    /* float: left; */
}

#lessonHeading {
    font-size: 5rem;
    color: white;
    font-weight: 700;
}

#lessonAboutHeading {
    color: white;
    font-weight: 600;
}

#lessonAbout {
    color: white;
}

#lessonAbout ul {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-column-gap: 30px;
    grid-row-gap: 20px;
}

#lessonAbout ul li {
    list-style: square;
    color: white;
}

.center-screen {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 100%;
    min-height: 100%;
}



#platformBreadcrumb {
    /* margin-left: 1.2rem; */
    --bs-breadcrumb-divider: '';
}



.show {
    opacity: 1;
    transition: all 1s;
    filter: blur(0px);
    transform: translateX(0%);

}

.hidden {
    opacity: 0;
    transition: all 10ms;
    filter: blur(2px);
}


.lessonLink {
    background-color: transparent;
    color: white;
    font-size: 20px;
}

.lessonLink:hover {
    background-color: rgba(0, 0, 0, 0.5);
    
}


@media (max-width: 1045px) {
    body {
        background-repeat: repeat;
        background-size: cover;
    }

    #mainLessonPageFrame {
        padding-top: 10px;
        padding-left: 18px;
        padding-right: 18px;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        min-width: 42vh;
        padding-bottom: 1rem;
        display: inline;
        margin-top: 4.5rem;
    }

    #lessonHeading {
        font-size: 2rem;
        color: white;
        font-weight: 700;
        margin-top: 0;
    }

    #lessonHeadingFrame {
        width: 100%;
    }

    #lessonInfoRightDIV {
        width: 100%;
        height: auto;
        padding-left: 0px;
        margin-left: 0;
    }

    #breadCrumbMain {
        margin-left: 5px;
        font-size: 15px;
        margin-top: 5px;
    }

    #lessonAbout {
        font-size: 12px;
    }

    #lessonInfoScreenShotDIV {
        display: inline-block;
    }

    #lessonScreenshotImage {
        width: 140px;
        height: 70px;
    }
}